<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfn-dLiF2uvMra-OrRutLIxKF705dDfxs</string>
	<key>GCM_SENDER_ID</key>
	<string>483060658537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oreChansApp</string>
	<key>PROJECT_ID</key>
	<string>mvvm-app-f2cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-app-f2cf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483060658537:ios:69c27e1aed2f2af8658df8</string>
</dict>
</plist>